* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    margin: 0 auto;
}

.toplogo-sony {
    width: 100px;

}

.black-logo-bar {
    margin: 0;
    display: flex;
    justify-content: end;
}


.accesso {
    width: 80px;
    height: 40px;
    border-radius: 40px;

}

.info {
    border-radius: 40px;


}

body {
    margin: 0;
    padding: 0;

}

.container1 {
    background-image: url("img/img/jumbo-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    width: 100%;
    min-height: 700px;
    display: flex;
    align-items: center;


}

.container2 {
    background-image: url("img/img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    width: 100%;
    min-height: 700px;
    display: flex;
    align-items: center;
}

.containerBlack {
    background-color: rgb(32, 32, 41);
}

.acquista {
    border-radius: 40px;
}

.scopri {
    border-radius: 40px;
}

.overlay {
    position: absolute;
    padding: 40px;
    translate: 20px 200px;

}


.img-jumbo {
    width: 100%;
    display: block;
}

.testo-sotto {
    margin: 0;
    width: 500px;
}

.bannerinigiochi1 {
    padding: 4px;
    border-radius: 20px;
}

.gamebannerino {
    padding: 2px;
    border-radius: 20px;
}

.containerBlack {
    margin: 0 auto;
}

.gamebannerino:hover {
    transform: translateY(-10px);
    border: 4px solid rgb(110, 110, 241);
    box-shadow: 0 2px 10px rgb(131, 174, 255);
    cursor: pointer;
}

.size {
    font-size: 20px;
}

.bannerinigiochi1:hover {
    transform: translateY(-10px);
    border: 4px solid rgb(110, 110, 241);
    cursor: pointer;
}

.fraseinpact {
    color: gray;
}

.console-play {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.strong {
    margin: 0;
    font-size: 20px;

}

.game-set {
    filter: grayscale(100%);
    opacity: 0.7;
}

.game-set:hover {
    transform: translateY(-10px);
    filter: grayscale(0%);
    opacity: 1;
    border-bottom: 4px solid blue;
    cursor: pointer;
}

.set {
    justify-content: center;
    justify-content: space-around;
}

.scopri {
    max-width: 130px;
}

.esplora {
    max-width: 200px;
}

.esplora:active {
    cursor: pointer;

}


.settup {
    width: 80%;
    height: auto;
    margin: 0 auto;

}
.sconti {
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.social {
    width: 40%;
    height: auto;
    margin: 0 auto;
}

.sett-up {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
}

.scopri:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 2px 10px rgba(51, 0, 192, 0.9);
}

.containergray {

    background-color: gray;
}

.containerblu {

    background-color: blue;
}

.play {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.back-blue {
    background-color: blue;
}