
.toplogo-sony {
    width: 100px;
    
}

.black-logo-bar {
    margin: 0;
    display: flex;
    justify-content: end;
}

.accordion-item {
    border: none;
    
}

.accesso {
    width: 80px;
    height: 40px;
    border-radius: 40px;

}

body {
    margin: 0;
    padding: 0;
}

.container1 {
    margin: 0;
    padding: 0;
    
}

.acquista {
    border-radius: 40px;
}



.overlay { 
    width: 10px;
    translate: 300% -130%;
}


.testo-sotto {
    margin: 0;
    width: 500px;
}