
.toplogo-sony {
    width: 100px;
    
}

.black-logo-bar {
    margin: 0;
    display: flex;
    justify-content: end;
}

.accordion-item {
    border: none;
    
}

.accesso {
    width: 80px;
    height: 40px;
    border-radius: 40% ;
}